body {
    display: flex;
    height: 100vh;

    align-items: center;
    justify-content: center;

    color: #fff;

    background: url('./assets/background.jpg');
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body header img {
    width: 400px;
}

body #snake {
    padding: 2rem;
}